/* Header */

.header {
    background-color: #384D5F; 
    padding: 70px;
    height: 25vh;   
    text-align: center; 
    margin-bottom: 50px;
    color: #f8f8f8;    
}

.headerempresa {
    background-color:#384D5F; 
    height: 25vh; 
    padding: 40px;   
}

/* Pantalla Dividida Index */ 

.pantalla {
    margin: 0;
    padding: 0;
}

.izquierda {
    background: #566FD4 ; 
    height: 100vh;
    width: 50%;
}

.derecha {
    background: url(iamgene_index/fondo.index.jfif);
    background-size: cover; 
    background-position: center;
    width: 50%;
    height: 100vh;

}

#pantallaindex {
    display: flex;
}

.h1 {
    font-size: 60px;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 80px;
    color: #F8F8F8;
} 

.h2 {
    font-size: 60px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #1E2C35;
} 

.ppantalla {
    font-size: 30px;
    line-height: 50px;
    width: 90%;
    margin: auto;
}

.pindex {
    font-size: 30px;
    line-height: 50px;
    width: 60%;
    margin-left: 50px;
}

.izquierdaindex {
    background: #F8F8F8;
    height: 80vh;
    width: 50%;
}

.derechaindex {
    background: url(iamgene_index/portfoliofoto.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 50%;
}


.izquierdaindex2 {

    background: url(iamgene_index/diseñoindex\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 50%;

}

.derechaindex2 {
    background: #F8F8F8;
    height: 100vh;
    width: 50%;
} 

/* Pantalla Dividida Empresa */ 

.pantallaempresa {
    margin: 0;
    padding: 0;
}

.izquierdaempresa {
    background: #F8F8F8;
    height: 80vh;
    width: 50%;
}

.derechaempresa {
    background: url(imagenes_empresa/empresa_imagen.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 50%;
}

#pantallaempresa {
    display: flex;
} 

.nosotros {
    margin-top: 40px;
    color: #384D5F;
    padding: 5px;
    margin-left: 40px; 
    font-size: 25px;
}

.h1empresa { 
    
    font-size: 60px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #F8F8F8;

}

.pempresa {  font-size: 30px;
    line-height: 50px;
    width: 90%;
    margin: auto;
    margin-left: 40px;
}

.pempresa2 {
    font-size: 30px;
    line-height: 50px;
    width: 75%;
    margin: auto;
    margin-left: 40px;

} 

/* Fondo Contacto */ 

.fondocontacto {
    background-image: url(imagenes_contacto/7121.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondocontacto:before {
    content: ""; 
    width: 100%; 
    height: 50vh;
    background-color: #1E2C35;
    position: absolute;
    opacity: 0.9;
} 

.fondocontacto h1 {
    position: relative;
    font-size: 60px;
    color: #F8F8F8;
} 

/* Pantalla Dividida Servicios */ 

.pantalla {
    margin: 0;
    padding: 0;
}

.izquierdaservicios {
    background: #1E2C35 ; 
    height: 100vh;
    width: 50%;
}

.derechaservicios {
    background: url(imagenes_servicios/fondoservicios.jpeg);
    background-size: cover; 
    background-position: center;
    width: 50%;
    height: 100vh;

}

#pantallaservicios {
    display: flex;
}


.izquierdaservicios2 {
    background: url(imagenes_servicios/servicios2.jpg);
    background-size: cover; 
    background-position: center;
    width: 50%;
    height: 70vh;

}


.derechaservicios2 {
    background: #f8f8f8 ; 
    height: 70vh;
    width: 50%; 
}

.pservicios2 {
    font-size: 30px;
    line-height: 50px;
    width: 90%;
    margin: auto;
}


.h2servicios {
    font-size: 60px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #F8F8F8;

}

.h2servicios2 {
    font-size: 60px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #384D5F;

}

.pservicios {
    font-size: 30px;
    line-height: 50px;
    width: 90%;
    margin: auto;
}

.izquierdaservicios3 {
    background: #f8f8f8 ; 
    height: 70vh;
    width: 50%;   
} 

.derechaservicios3 {
    background: url(imagenes_servicios/brandingservicios.jfif);
    background-size: cover; 
    background-position: center;
    width: 50%;
    height: 70vh;

}

.pservicios3 {
    font-size: 30px;
    line-height: 50px;
    width: 90%;
    margin: auto;
}



/* Botón */ 

.boton {
    border: 3px solid #F8F8F8; 
    padding: 20px;
    text-decoration: none;
    color: #F8F8F8;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 60px;
    margin-left: 40px;
}

/* Títulos */ 

.h2azul { 
    color: #384D5F;
} 

.h3azul {
    color: #384D5F;
}

.h1blanco{
    color: #F8F8F8;
} 

.h1azul {
    color: #384D5F;
}

.h2blanco {
    color: #F8F8F8;
} 

.titulomedio {
    font-size: 175%;
} 

.titulogrande {
    font-size: 250% ;
} 

/* Parrafos */ 

.pblanco {
    color: #F8F8F8;
} 

.pazul {
    color: #384D5F;
}

/* Fuente */ 

.fuente {
    font-family: 'Roboto', sans-serif; 
} 

.sinsubrayar {
    text-decoration: none;
}

/* Footer */ 

footer {
    margin-left: 85px;
}

.altofooter {
    height: 30vh;
}  

.redesfooter {
    display: inline-block;
    margin-left: -55px;    
    padding: 20px;
}

/* Formulario */ 

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
} 

/* Flex Servicios */ 


.ordeninicial {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    margin: auto; 
    font-weight: bold;
} 


/* Márgenes */ 

.margenizq {
    margin-left: 85px;
}

.margender {
    margin-right: 100px;
}

.margensuperior {
    padding-top: 35px;
}

.margeninferior {
    margin-bottom: 35px;
} 

/* Espaciado */ 

.espaciado {
    margin-bottom: 10px;
} 

.espacioizq {
    margin-left: 25px;

}

.espacioder {
    margin-right: 50px;
}

/* Alineaciones */ 

.centrartexto {
    text-align: center;
}

.derechatexto {
    text-align: right;
}










   
    
    
    
